@using Web.Helpers.Extensions

<!DOCTYPE html>
<html>
<head runat="server">
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />

    <link href="@Url.ContentWithVersion("~/Content/dashboard.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.ContentWithVersion("~/Content/confirm.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/custom-theme/jquery-ui-1.8.10.custom.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.10.custom.min.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/jquery.confirm.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.postJson.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ga.js")" type="text/javascript"></script>

    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/ico" />

    @RenderSection("Head", required: false)    
</head>
<body>
    <div class="wrapper">
    <div id="account-details">
        <fieldset>
            <div id="apitoken">
                <label for="apitoken-value">Api Token:</label>
                <span id="apitoken-value">@ViewData["ApiToken"]</span>
            </div>
            <div id="email">
                <label for="email-value">Email:</label>
                <span id="email-value">@ViewData["Email"]</span>
            </div>
        </fieldset>
        <div class="clear"></div>
    </div>
    <div id="top">
        <div id="logo">
        </div>
        <div id="navigation-container">
            <a id="share-tasks" href="/share/link">Share</a>
            <span> | </span>
            @Html.ActionLink("Faq", "faq", new { area = "", controller = "home" }, new { id = "faq" })           
            <span> | </span>
            <a id="show-account-details" href="show/account/details">Account</a>
            <span> | </span>
            @Html.ActionLink("Sign Out", "index", new { area = "", controller = "home" }, new { id = "sign-out" })
        </div>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div class="push"></div>
    </div>
    <div id="footer">
        @Html.Partial("Footer");                
    </div>
</body>
</html>
