@{
    ViewBag.Title = "Admin | Admin Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_BlogManagementLayout.cshtml";
}
@model Trackyt.Core.DAL.DataModel.BlogPost
<h2>
    Add new post to product blog</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true) 
    if (Model != null && Model.Id != 0) { 
        <div id="summary-container">
            <span>Congratulations! New blog post has been <span class="green">successfully</span>
                created.
                @Html.ActionLink("View post", "postbyurl", new { area = "blog", controller = "posts", url = Model.Url })
            </span>
        </div>
    }
    <fieldset>
        <legend>Post details</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Site)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Site)
            @Html.ValidationMessageFor(model => model.Site)
        </div>
        <p>
            <input type="submit" value="Post" />
        </p>
    </fieldset>

}
<div>
    @Html.ActionLink("Back to List", "index")
</div>
