@{
    Layout = null;
}

@model Web.Models.RegisterUserModel

<!DOCTYPE html>

<html>
<head>
    <title>Trackyt.net | Registration</title>
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/ico" />

    <link href="../Content/public-login.css?ver=1012" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="content">
        <h1 class="left">Sign Up</h1>
        <div class="clear"></div>

        @using (Html.BeginForm("registermobile", "registration", FormMethod.Post, new { id = "signup_form" })) {
            <div id="PasswordValidationMessage" class="validation-summary-errors"></div>
            @Html.ValidationSummary(true, "Registration was unsuccessful. Please correct the errors and try again.")
                
            <fieldset>
                <div id="email-container">
                    <label for="email">Email</label>
                    @Html.TextBoxFor(m => m.Email)
                </div>
                <div id="password-container">
                    <label for="password">Password</label>
                    @Html.TextBoxFor(m => m.Password, new { type = "password" })
                </div>
                <div id="confirmation-container">
                    <label for="confim">Password confirmation</label>
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { type = "password" })
                </div>
            </fieldset>                
            <input id="submit-button" type="submit" value="Signup"/>      
        }
    </div>

    <script src="@Url.Content("~/Scripts/jquery-1.4.1.min.js")" type="text/javascript"></script>
    <script src="@(Url.Content("~/Scripts/Tracky/controller.registration.js") + "?ver=1012")" type="text/javascript"></script>
</body>
</html>
